
<div class="logo">
  <a href="/">
    <img src="/assets/big-org-small.png" alt="{{ site.title }}" />
  </a>
</div>

<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	{% if page.url == '/index.html' or page.url == '/' %}
		<h1>{{ site.title }}</h1>
	{% endif %}

</aside>

<ul class="menu" id="navlist">
	<li><a href="/">meetups</a></li>
	<li><a href="/about">about</a></li>
	<li><a href="/blogs">blogs</a></li>
	<li><a href="/team">team</a></li>
	<li><a href="/contact">contact</a></li>
	<li><a href="/links">useful links</a></li>
</ul>
