<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	{% if page.url == '/index.html' or page.url == '/' %}
	<a href="{{ link | prepend: site.baseurl }}">
		<h1>{{ site.title }}</h1>
	</a>
	{% endif %}


</aside>

<ul class="menu">
	<li><a href="/">meetups</a></li>
	<li><a href="/about">about</a></li>
	<li><a href="/team">Team</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>
