---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>

		<script type="text/javascript">(function () {
						if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
						if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
								var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
								s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
								s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
								var h = d[g]('body')[0];h.appendChild(s); }})();
		</script>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>
		
		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}



		<div style="text-align: center" class="footer">
		  <div style="display: inline-block;">{{site.title}}</div>
		</div>

		{% include footer.html %}

	</body>

</html>
