---
layout: default
---

<noscript>
<style>

article .footnotes {
	display: block;
}

</style>
</noscript>

<article>

	<div class="center">
		<h1>{{ page.title }}</h1>
		<time>{{ page.start | date: '%B %-d, %Y  %I:%M %p' }}</time> - <span class="loc">{{page.where}}</span>
	</div>

	<div class="divider"></div>
	<p>
		{{page.description}}
	</p>

{% if page.agenda %}
<h3 class="underline">Agenda: </h3>
	<ol>
	{% for agenda in page.agenda %}
  	<li>
	  <h3>{{ agenda.speech }}</h3>
	  <p> {{ agenda.speaker }}
	  {% if agenda.schedule != nil %}
	  	{{ agenda.schedule | prepend: "- "}}
	  {% endif %}</p>
  	</li>
	{% endfor %}
</ol>
{% endif %}

	<main>
    <h4 class="when">{{page.when}}</h4>
		{{content}}
	</main>

	<div itemscope itemtype="http://schema.org/Event" class="hidden">
		<a itemprop="url" href="{{ page.url | prepend: site.url }}">
			{{page.title}}:
			<span itemprop="name"> {{page.description}} </span>
		</a>
		<meta itemprop="startDate" content="{{page.start}}">
		<meta itemprop="endDate" content="{{page.end}}">
		<meta itemprop="description" content="{{page.description}}">
		{{page.start}}
		<div itemprop="location" itemscope itemtype="http://schema.org/Place">
			<span itemprop="name">Kerala Startup Mission</span>,
			<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="addressLocality">Trivandum</span>,
				<span itemprop="addressRegion">KL</span>
			</div>

			<div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
				<meta itemprop="latitude" content="{{page.latitude}}" />
				<meta itemprop="longitude" content="{{page.longitude}}" />
			</div>
      <img id="cover" src="http://big-org.com/assets/big-org-medium.png" alt="{{site.title}}" />
		</div>
	</div>

	<div class="divider"></div>

  <div class="center"><a href="https://t.me/iv?url={{ 'http://big-org.com' | append: page.url }}&rhash=f212ca8ff049a6">Telegram</a></div>


	<div class="center">
		{% if page.eventbrite %}
		<a href="{{page.eventbrite}}" target="_blank" class="eventbrite">book your seat</a> - its free
		{%endif%}

		<br> <br>
		<span class="addtocalendar atc-style-blue">
			<var class="atc_event">
				<var class="atc_date_start">{{page.start}}</var>
				<var class="atc_date_end">{{page.end}}</var>
				<var class="atc_timezone">{{site.timezone}}</var>
				<var class="atc_title">{{page.title}}</var>
				<var class="atc_description">{{page.description}}</var>
				<var class="atc_location">{{page.where}}</var>
				<var class="atc_organizer">{{site.title}}</var>
				<var class="atc_organizer_email">{{site.contact}}</var>
			</var>
		</span>
	</div>



</article>

<div class="back">
	<a href="{{site.baseurl}}/">Back</a>
</div>
